
<!-- Lista de productos -->
<h1>Productos</h1>

<!-- Formulario para agregar productos -->
<h2>Agregar producto</h2>
<form action="/product" method="POST">
    <input type="number" name="cod" class="input-style" id="cod" placeholder="Codigo" required />
    <input type="text" name="nombre" class="input-style" id="nombre" placeholder="Nombre" required />
    <input type="number" name="precio" class="input-style" id="precio" placeholder="Precio" required />
    <input type="text" name="categoria" class="input-style" id="categoria" placeholder="Categor칤a" required />
    <button class="btn-agregar" type="submit">Agregar</button>
</form>


<h2>Productos</h2>


<!-- Controles de paginaci칩n -->
{{#if info.hasPrevPage}}
<a class="btn-prev" href="/?page={{info.prevPage}}&limit=5&sort={{../sort}}&query={{../query}}&type={{../type}}">P치gina Anterior</a>
{{/if}}
<p class="text-center">P치gina {{info.page}} de {{info.totalPages}}</p>
{{#if info.hasNextPage}}
<a class="btn-prev" href="/?page={{info.nextPage}}&limit=5&sort={{../sort}}&query={{../query}}&type={{../type}}">P치gina Siguiente</a>
{{/if}}

<h2 class="text-xl font-semibold mt-4"> {{info.totalDocs}} encontrados:</h2>

{{#each info.docs}}
    <div>
        <p> {{this.nombre}} - 游눳 ${{this.precio}}</p>
    </div>
{{/each}}
