<div class="product-container"></div>
    <h2>{{product.cod}} - {{product.nombre}}</h2>
    <img src="/img/{{product.thumbnail}}" alt="Imagen del producto" height="100px" width="100px">
    <p>Precio: ${{product.precio}}</p>
    <p>Categoría: {{product.categoria}}</p>
    <p>Ruta del archivo: {{product.thumbnail}}</p>
</div>